/.idea/
.pytest_cache
__pycache__
/venv/
/.dcignore
/opensfm-camera-coverage.iml
/tmp/
/src/odm_report_shot_coverage/scripts/web/data/
/src/odm_report_shot_coverage/scripts/web/data/
/src/odm_report_shot_coverage/scripts/web/images/
/dist
*.egg-info
