attrs==21.4.0
flake8==4.0.1
geojson==2.5.0
iniconfig==1.1.1
mccabe==0.6.1
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.1.1
scipy==1.8.0
tomli==2.0.1
